<div>
    <h2 id="page-heading">
        <span>Purchase Order Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-purchase-order-details" [routerLink]="['/purchase-order-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Purchase Order Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="purchaseOrderDetails?.length === 0">
        <span>No purchaseOrderDetails found</span>
    </div>
    <div class="table-responsive" *ngIf="purchaseOrderDetails?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Item Qty</span></th>
            <th><span>Item</span></th>
            <th><span>Po</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let purchaseOrderDetails of purchaseOrderDetails ;trackBy: trackId">
                <td><a [routerLink]="['/purchase-order-details', purchaseOrderDetails.id, 'view' ]">{{purchaseOrderDetails.id}}</a></td>
                <td>{{purchaseOrderDetails.itemQty}}</td>
                <td>
                    <div *ngIf="purchaseOrderDetails.item">
                        <a [routerLink]="['/items', purchaseOrderDetails.item?.id, 'view' ]" >{{purchaseOrderDetails.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="purchaseOrderDetails.po">
                        <a [routerLink]="['/purchase-order', purchaseOrderDetails.po?.id, 'view' ]" >{{purchaseOrderDetails.po?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/purchase-order-details', purchaseOrderDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/purchase-order-details', purchaseOrderDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/purchase-order-details', { outlets: { popup: purchaseOrderDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
