<div>
    <h2 id="page-heading">
        <span>Job Detais</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-detais" [routerLink]="['/job-detais/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Job Detais
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="jobDetais?.length === 0">
        <span>No jobDetais found</span>
    </div>
    <div class="table-responsive" *ngIf="jobDetais?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Job Item Price</span></th>
            <th><span>Job Item Qty</span></th>
            <th><span>Item</span></th>
            <th><span>Job</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobDetais of jobDetais ;trackBy: trackId">
                <td><a [routerLink]="['/job-detais', jobDetais.id, 'view' ]">{{jobDetais.id}}</a></td>
                <td>{{jobDetais.jobItemPrice}}</td>
                <td>{{jobDetais.jobItemQty}}</td>
                <td>
                    <div *ngIf="jobDetais.item">
                        <a [routerLink]="['/items', jobDetais.item?.id, 'view' ]" >{{jobDetais.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobDetais.job">
                        <a [routerLink]="['/job', jobDetais.job?.id, 'view' ]" >{{jobDetais.job?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/job-detais', jobDetais.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-detais', jobDetais.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-detais', { outlets: { popup: jobDetais.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
