<div>
    <h2 id="page-heading">
        <span>Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-products" [routerLink]="['/products/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Products
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="products?.length === 0">
        <span>No products found</span>
    </div>
    <div class="table-responsive" *ngIf="products?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Product Code</span></th>
            <th><span>Product Name</span></th>
            <th><span>Product Prefix</span></th>
            <th><span>Product Prof Margin</span></th>
            <th><span>Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let products of products ;trackBy: trackId">
                <td><a [routerLink]="['/products', products.id, 'view' ]">{{products.id}}</a></td>
                <td>{{products.productCode}}</td>
                <td>{{products.productName}}</td>
                <td>{{products.productPrefix}}</td>
                <td>{{products.productProfMargin}}</td>
                <td>
                    <div *ngIf="products.location">
                        <a [routerLink]="['/location', products.location?.id, 'view' ]" >{{products.location?.locationCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/products', products.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/products', products.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/products', { outlets: { popup: products.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
