<div>
    <h2 id="page-heading">
        <span>Workers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-worker" [routerLink]="['/worker/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Worker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="workers?.length === 0">
        <span>No workers found</span>
    </div>
    <div class="table-responsive" *ngIf="workers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Worker Code</span></th>
            <th><span>Worker Name</span></th>
            <th><span>Worker Limit</span></th>
            <th><span>Is Active</span></th>
            <th><span>Job</span></th>
            <th><span>Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let worker of workers ;trackBy: trackId">
                <td><a [routerLink]="['/worker', worker.id, 'view' ]">{{worker.id}}</a></td>
                <td>{{worker.workerCode}}</td>
                <td>{{worker.workerName}}</td>
                <td>{{worker.workerLimit}}</td>
                <td>{{worker.isActive}}</td>
                <td>
                    <div *ngIf="worker.job">
                        <a [routerLink]="['/job', worker.job?.id, 'view' ]" >{{worker.job?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="worker.location">
                        <a [routerLink]="['/location', worker.location?.id, 'view' ]" >{{worker.location?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/worker', worker.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/worker', worker.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/worker', { outlets: { popup: worker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
